<h1>Change account info</h1>
<video autoplay muted loop class="bg-video">
  <source src="/The_Climb.mp4" type="video/mp4">
</video>
<!-- Create a form to take in the summoner name -->
<!-- Submit the summoner name to api to get acount information to create a summoner -->

<%= form_for @summoner do |f| %>
<%= f.text_field :summoner_name, class: "text-field", spellcheck: "false", placeholder: "Summoner Name", autocomplete: "off" %>
<%= f.submit "Submit", type: "hidden" %>
<% end %>
