<img src="/game-bg.jpg" class="game-bg">

<div class="red">
  <div class="player1">
    <img src="/images/champion_loading_art/Anivia_0.jpg" class="loading-art" alt="">
  </div>
  <div class="player2">
    <img src="/images/champion_loading_art/Aatrox_0.jpg" alt="" class="loading-art">
  </div>
  
  <div class="player3">
    <img src="/images/champion_loading_art/Ashe_0.jpg" class="loading-art" alt="">
  </div>

  <div class="player4">
    <img src="/images/champion_loading_art/Alistar_0.jpg" class="loading-art" alt="">
  </div>

  <div class="player5">
    <img src="/images/champion_loading_art/Amumu_0.jpg" class="loading-art" alt="">
  </div>
</div>

<div class="blue">
  <div class="player1">
    <img src="/images/champion_loading_art/Anivia_0.jpg" class="loading-art" alt="">
  </div>

  <div class="player2">
    <img src="/images/champion_loading_art/Aatrox_0.jpg" class="loading-art" alt="">
  </div>


  <div class="player3">
    <img src="/images/champion_loading_art/Ashe_0.jpg" class="loading-art" alt="">
  </div>

  <div class="player4">
    <img src="/images/champion_loading_art/Alistar_0.jpg" class="loading-art" alt="">
  </div>

  <div class="player5">
    <img src="/images/champion_loading_art/Amumu_0.jpg" class="loading-art" alt="">
  </div>
</div>



<% n = 0 %>
<!--
play = {}
<%# @game["participants"].each do |player| %>
  <%# @game["participantIdentities"].select do |id| %>
  <%# players << player["player"]["summonerName"]  %>
  <%# end %>
<p>Summoner Name - <%# players[n] %></p>
<p>Highest Rank Achieved - <%# player['highestAchievedSeasonTier'] %></p>
<p>Champion ID - <%# player["championId"] %></p>
<p>Team ID - <%# player["teamId"] %></p>
<p>Damage - <%# player["stats"]["totalDamageDealt"] %></p>
<p>K - <%# player["stats"]["kills"] %></p>
<p>D - <%# player["stats"]["deaths"] %></p>
<p>A - <%# player["stats"]["assists"] %></p>
<br>
-->
<%# n = n+1 %>
<%# end %>
