/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
     font-size: 62.5%
 }
 body{
     padding: 0;
     margin: 0;
 }

 /* summoner show background */
 .summoner-bg{
     position: fixed;
     height: 100vh;
     width: 100vw;
     opacity: 0.5;
     z-index: -1;
 }

 .menu-icon{
    height: 4rem;
    width: 4rem;
    position: fixed;
    top:0.9rem;
    left:1.3rem;
 }

 /* summoner card */
 .container-2{
    display:inline-flex;
    flex-wrap: wrap
 }

 .profile-inner{
    box-shadow: 1px 1px 2px black;
    border-radius: 1rem;
    margin: 6rem 11rem 10rem 55rem; 
    width: 32rem;
    height: 20rem;  
    position: relative; 
    background: white;
    opacity: 0.8;
    position:relative;
}

.summoner-rank{
    position: absolute;
    top: 10rem;
    left: 11rem;
    transform: scale(0.5);
    z-index: 3;
}

.level{
    font-size: 3rem;
    position: absolute;
    top: 13rem;
    left: 10rem;
}

.game-inner{
    box-shadow: 1px 1px 2px black;
    border-radius: 1rem;
    margin: 0 9rem 7rem 10rem;
    width: 28rem;
    height: 20rem;  
    position: relative; 
    background: white;
    opacity: 0.8;
}

.check-game{
    position: absolute;
    top: 14rem;
    left: 2rem;
    font-size: 2rem;
 }
.summoner-icon{
    position: absolute;
    top:3.3rem;
    left:10rem;
    height: 12rem;
    width: 12rem;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    opacity: 1;
    z-index: 2;
}

.summoner-name{
    position: absolute !important;
    font-size: 3rem !important;
    top: -3.3rem !important;
    left: 6rem !important;
}

.rank{
    position: absolute;
    top: 0;
    right: 0;
}

.champ-icon{
    position: absolute;
    top: 5rem;
    border-radius: 50%;
    left: 12rem;
}

.champ-name{
    font-size: 4rem;
    position: absolute;
    top: 11rem;
    left: 12rem;

}

.condition-win{
    font-size: 3rem;
    color: blue;
    position: absolute;
    top: 2rem;
    left: 1rem;
    display: inline-block;
}

.condition-lose{
    font-size: 3rem;
    color: red;
    position: absolute;
    top: 2rem;
    left: 1rem;
    display: inline-block;
}

.time{
    font-size: 2rem;
    position: absolute;
    top: 7rem;
    left: 2rem;
    display: inline-block;
}
/* nav-bar */
 .bar{
    background: black;
    position: fixed;
    top:0;
    left:0;
    height: 6rem;
    width: 100vw;
    z-index: 100;
    margin-bottom: 2rem;
    transition: .5s;
 }

 .bar-list{
     margin:0;
 }

 .bar-item{
     font-size: 4rem;
     list-style: none;
     display: inline-block;
     margin-right: 2rem;
 }

 .link{
    text-decoration: none;
    color: white;
    transition: all 0.2s;
 }

 .link:hover{
    opacity: 1;
    color: #2063de;
 }

 /* game show */
 .game-bg{
    opacity: 0.5;
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
 }

 .red{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: flex-start;
     padding: 16rem 10rem 0rem 10rem;
 }

 .blue{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin:10rem;
}

 .loading-art{
   
    height: 39rem;
    width: 25rem;
    margin: 0 1.5rem;

 }

 /* create page */

 .bg-video{
     opacity: 0.5;
     position: fixed;
     width: 100%;
     z-index: -1;
 }

 .summoner-name{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5rem;
 }

 .text-field{
     position: absolute;
     top: 45%;
     left: 20%;
     height: 5rem;
     width: 85rem;
     box-shadow: 0 1px 2px black;
     border-radius: 50px;
     opacity: 0.8;
     text-align: center;
     font-size: 5rem;
    

 }

 .text-field:focus{
     outline: none;
 }

 .game-id{
     font-size: 5rem;
 }

 /* player stats */
 
 .loading{
    position:relative;
 }

 .game-name{
    position: absolute;
    font-size: 3rem;
    margin: -4rem 0rem 0rem 2rem;
    color: black;
}
     
.game-rank{
    position:absolute;
    margin: -5rem 0 0 8rem;
}

.game-stats{
    margin-left: 1.6rem;
    padding-top: 2rem;
}

.game-player-stat{
    font-size: 2rem;
}

.game-player-kda-bad{
    font-size: 5rem;
    margin: -10.5rem 0px 0 12.7rem;
    background: linear-gradient(to top right,rgb(218, 59, 59), rgb(161, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-player-kda-avg{
    font-size: 5rem;
    margin: -10.5rem 0px 0 12.7rem;
}

.game-player-kda-good{
    font-size: 5rem;
    margin: -10.5rem 0px 0 12.7rem;
    background: linear-gradient(to top right,rgb(251, 255, 0), rgb(177, 179, 65));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-player-kda-gg{
    font-size: 5rem;
    margin: -10.5rem 0px 0 12.7rem;
    background: linear-gradient(to top right,rgb(62, 128, 190), rgb(0, 17, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-player-kda-perfect{
    font-size: 5rem;
    margin: -10.5rem 0px 0 12.7rem;
    background: linear-gradient(to top right, rgb(0, 255, 64), rgb(47, 161, 62));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.slide-nav{
    transition: .4s;
}

.slide-nav:checked{
    transform: scale(2);
}

nav { 
    width: 100%; 
    text-align: center; 
}

nav ul{
    position: fixed;
    top: 8rem;
    padding-left: 1rem;

}

nav li{
    padding-bottom: 4rem;
}

nav a { 
    position: fixed;
    color: #F0EADC;
    text-decoration: none;
    font-size: 2rem;
}
nav a:hover { 
    color: #FFF;
    opacity: 2;
 }


/*nav*/
.menu {
	width: 24rem;
	height: 111rem;
	position: fixed;
	background: black;
	left: -240px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    z-index: 750;
	
}
.menu-icon {
    position: fixed;
    top:0;
    left:1.4rem;
	font-size:4rem;
	color: white;
    cursor: pointer;
    z-index:1000;
    opacity: .5;   
    transition: all .3s ;
}

.menu-icon:hover{
    opacity:2;
}
#menuToggle { display: none; }

#menuToggle:checked ~ .menu { position: absolute; left: 0; }

.home-bg{
    height:100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.8;
    position:fixed;
}

.sim{
    position:absolute;
    font-size:14rem;
    font-family: helvetica, sans-serif;
}

.enter{
    transform: scale(0.2);
}

.logout{
    color: white;
    font-size: 2rem;
    position: fixed;
    right: 2rem;
    cursor: pointer;
}

.login{
    color: white;
    font-size: 2rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.logout-btn{
    position: fixed;
    right: 4rem;
    top: 2rem;
    transform: scale(2);
    opacity: 0;
}

.summ-name{
    position: absolute;
    top: -3.3rem;
    left: 6rem;
    color: white;
    font-size: 4rem;
}